  * {
    box-sizing: border-box;
    /*largura e altura do elemento incluam o padding e a borda*/
    margin: 0;
    padding: 0;
  }
section {
  scroll-margin-top: 110px; /* ajuste conforme a altura da sua navbar */
}
  
  body {
    background-color: #fff4d3;
    margin: 0;
    padding: 0;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .custom-header {
    background-color: #fff4d3;
    border-radius: 40px;
    padding: 3px 5px;
    margin: 40px auto;
    max-width: 1300px;
    z-index: 1001;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
  }

  /* LOGO E NOME DA EMPRESA NO HEADER */

  .logo-container {
    position: absolute;
    /*posiciona um elemento de forma exata dentro do seu elemento pai*/
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 5px;
    width: 80px;
    height: 80px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  .logo-header {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .icon-logo {
    margin-left: 93px;
    color: #32391e;
    font-size: 22px;
    font-weight: bold;
    font-family: "Marcellus", sans-serif;
  }

  /* BOTAO DO HAMBURGUER NO RESPONSIVO */

  .custom-toggler {
    background: none;
    border: none;
    padding: 5px;
    margin-left: auto;
    z-index: 1002;
  }

  .custom-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  /* CLASSIFICAÇÕES DA PÁGINA DO MENU */

  nav {
    position: relative;
    /* permite mover um elemento, mas mantendo seu espaço original na página */
    display: flex;
    justify-content: center;
  }

  .nav-item {
    padding: 10px 20px;
    font-size: 18px;
  }

  .icon-text {
    color: #32391e;
    font-size: 16px;
    font-weight: bold;
    font-family: "Marcellus", sans-serif;
    padding: 8px 0;
    text-decoration: none;
    z-index: 1;
  }

  .icon-text:hover {
    color: #b38e20;
  }

  /* UNDERLINE QUE ESTA ABAIXO DAS CLASSIFICAÇÕES DO MENU */

  .underline {
    position: absolute;
    /*posiciona um elemento de forma exata dentro do seu elemento pai*/
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0;
    background: #d0a523;
    transition: all 0.3s ease;
  }

  .custom-toggler {
    background: none;
    border: none;
    padding: 5px;
    margin-left: auto;
    z-index: 1002;
  }

  .custom-toggler:focus {
    outline: none;
    box-shadow: none;
  }


  /* BOTÃO CTA NO MENU */

  .btn-orcamento {
    padding: 10px 30px;
    background-color: #32391e;
    color: #fff4d3;
    border-radius: 30px;
    font-size: 18px;
    font-family: "Marcellus", sans-serif;
    text-decoration: none;
  }

  .btn-orcamento:hover {
    background-color: #4c5528;
    color: #f8e09a;
  }

  /* CARROSEL DE IMAGENS e E BOTÃO CTA */

  .carousel-inner {
    height: 250px;
    /*tamanho das imagens do carrosel*/
    position: relative;
    /* permite mover um elemento, mas mantendo seu espaço original na página */
    width: 100%;
    overflow: hidden;
    /* esconde qualquer conteúdo que ultrapasse os limites do elemento.*/
    margin-bottom: 20px;
  }

  .orcamento-wrapper {
    position: absolute;
    /*posiciona um elemento de forma exata dentro do seu elemento pai*/
    bottom: 0;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    text-align: center;
  }

  .carousel-item {
    position: relative;
    /* permite mover um elemento, mas mantendo seu espaço original na página */
    height: 100%;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*imagens ou vídeos preencham totalmente o espaço do elemento, sem distorcer e mantendo o aspecto original.*/
    display: block;
  }

form .form-control,
form .form-select {
  background: linear-gradient(to bottom, #fffef3, #fffbe9);
  border: 2px solid #b38e20;
  border-radius: 16px;
  padding: 14px 18px;
  font-size: 16px;
  color: #32391e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-in-out;
  width: 100%;
 font-family: "Marcellus", sans-serif;
}

form .form-control:focus,
form .form-select:focus {
  border-color: #32391e;
  background-color: #fffbe3;
  box-shadow: 0 4px 10px rgba(90, 90, 37, 0.996);
  outline: none;
  font-family: "Marcellus", sans-serif;
}

form label {
  font-weight: 600;
  color: #2b3315;
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-family: "Marcellus", sans-serif;
}

form textarea.form-control {
  min-height: 120px;
  resize: vertical;
  font-family: "Marcellus", sans-serif;
}

/* Botão Enviar estilizado */
form button[type="submit"] {
  background-color: #32391e;
  color: #fffef3;
  border: none;
  width: 200px;
  padding: 12px 32px;
  border-radius: 36px !important;
  font-size: 20px !important;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(50, 57, 30, 0.2);
  margin-top: 15px;
  font-family: "Marcellus", sans-serif;
  margin-bottom: 70px;
}

form button[type="submit"]:hover {
 background-color: #4c5528 !important;
    color: #f8e09a !important;
}

.entreEmContato {
  margin-top: 20px;
   font-family: "Marcellus", sans-serif;
 font-size: 20px !important;
text-align: center;
color: #32391e;
margin-bottom: 60px;
}

.solicite {
  font-weight: bold;
  color: #32391e;
  margin-top: 60px;
   font-family: "Marcellus", sans-serif;
 font-size: 40px !important;
text-align: center;
}

.erro-mensagem {
  color: red !important;
  font-size: 0.875rem !important;
  display: none !important;
  margin-top: 4px !important;
}


  /*FOOTER*/
  footer {
    background-color: #32391e !important;
    font-family: "Marcellus", sans-serif !important;

    .outro {
      color: #ffce3a;
      text-transform: none !important;
      margin-top: 15px;
      font-size: 20px;
    }

    .outros {
      margin-top: 20px;
      color: #f8e09a;
    }

    .link {
      color: #f8e09a;
    }

    .link:hover {

      transition: 1s;
      color: #c29f36;
    }

    .logo-footer {
      box-shadow: 0 0 6px 3px rgb(255, 219, 129);
      width: 147px;
      height: 147px;
      border-radius: 50%;
      margin-bottom: 20px;
      margin-left: 60px;
    }

    
  .loja {
    margin-top: 20px;
    color: #f8e09a;
    font-size: 14px;
  }

  .nomeloja {
    color: #ffce3a;
    text-transform: none !important;
    font-size: 25px;
    top: 10%;
  }

  .linha {
    color: #ffce3a;
  }

  .fab.fa-instagram {
    font-size: 27px;
    color: #e1306c;
    /* Cor do Instagram */
    margin-right: 15px;
    margin-bottom: 40px;
  }
  }

  #btnTopo {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 38px;
    background-color: #b38e20;
    color: white;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    transition: opacity 0.3s;
  }

  #btnTopo:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #32391e, #3a411f, #4c5528, #5c653a);
  }

  /* PARA TELAS DE TABLETS */
  @media (max-width: 1024px) {

    /*CARROSSEL DE FOTOS MENU*/
    .carousel-inner {
      margin-bottom: 25px;
    }

    .position-relative {
      margin-top: 70px;
    }

    /*FAIXA VERDE DO PROCESSOS*/
    .green-banner {
      height: 200px;
      position: relative;
    }

    .green-bar {
      height: 250px;
      width: 100%;


      h1 {
        margin-left: 300px;
        margin-bottom: 15px;
        padding-top: 15px;
      }

      .l {
        margin-left: 60px;
        overflow-wrap: break-word;
        font-size: 20px;
      }

      .ll {
        margin-left: 85px;
        overflow-wrap: break-word;
        font-size: 20px;
      }

      .lll {
        margin-left: 200px;
        overflow-wrap: break-word;
        font-size: 20px;
      }
    }

    .image-overlays {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .img-block {
      width: 150px;
      height: 150px;

    }

    .img-1 {
      left: 75%;
      top: -60px;
    }

    .img-2 {
      left: 70%;
      top: 160px;
    }

    .img-3 {
      left: 83%;
      top: 60px;
    }

    /*SOBRE NÓS*/
    #sobre-mim .tabs {
      gap: 46px;
    }

    #sobre-mim .tab {
      white-space: normal;
      /* permite a quebra de linha */
      font-size: 20px;
      line-height: 1.2;
      margin-left: 0;
    }

    #sobre-mim .tab span {
      display: block;
      /* quebra manual usando <span> */
    }

    #sobre-mim h2 {
      margin-left: 90px;
    }

    #sobre-mim .imagem img {
      height: 650px;
      width: 100%;
    }

    .category-card {
      width: 250px;
    }

    .category-img {
      height: 180px;
    }

    .carousel-wrapper {
      height: 270px;
    }
  }


  /* PARA TELAS DE CELULARES */
  @media (max-width: 480px) {

    /*CARROSEL DO MENU*/
    .carousel-inner {
      height: 400px;
      margin-bottom: 5px;
    }

    .position-relative {
      margin-top: 20px;
    }

    .btn-orcamento-carrosel {
      border-radius: 50px;
    }

    /*PARTE VERDE DO PROCESSOS*/
    .green-bar {
      height: 300px;
      width: 100%;


      h1 {
        margin-left: 90px;
        margin-bottom: 5px;
        padding-top: 5px;
      }

      .l {
        margin-left: 38px;
        overflow-wrap: break-word;
        font-size: 18px;
      }

      .ll {
        margin-left: 38px;
        overflow-wrap: break-word;
        font-size: 18px;
      }

      .lll {
        margin-left: 38px;
        overflow-wrap: break-word;
        font-size: 18px;
      }
    }

    .img-block {
      width: 110px;
      height: 110px;
    }

    .img-1 {
      left: 37%;
      top: 260px;
    }

    .img-2 {
      left: 67%;
      top: 260px;
    }

    .img-3 {
      left: 7%;
      top: 260px;
    }

    /*SOBRE NÓS*/
    #sobre-mim .container {
      flex-direction: column;
    }

    #sobre-mim .imagem {
      order: 2;
      
    }

    #sobre-mim .conteudo {
      order: 1;
    }
    #sobre-mim .conteudo {
      padding-top: 20px;
    }

    #sobre-mim h2 {
      font-size: 36px;
      margin-left: 70px;
    }

    #sobre-mim .tabs {
      gap: 42px;
    }

     #sobre-mim p {
    text-align:left;
  }

    #sobre-mim .tab {
      white-space: normal;
      /* permite a quebra de linha */
      font-size: 14px;
      line-height: 1.2;
      margin-left: 0;
    }

    #sobre-mim .tab span {
      display: block;
      /* quebra manual usando <span> */
    }

    #sobre-mim .imagem img {
      height: 350px;
      width: 100%;
      margin-left: 20px;
      margin-top: 20px;
    }

    .carousel-item-box {
      width: 140px;
    }

    .img-box {
      height: 140px;
    }

    .category-card {
      width: 200px;
    }

    .category-img {
      height: 200px;
    }

    .categorias {
      margin-top: 140px;
    }

    .carousel-wrapper {
      height: 270px;
    }

    .feedback-section {
      height: 380px;
    }

    .feed {
      font-size: 25px;
    }

    .feedback-card {
      height: 230px;
      width: 270px;
    }

    .avatar {
      width: 75px;
      height: 75px;
    }

      #localizacao {
    font-size: 15px;
    font-weight: bold;
  }

  .onde {
    font-size: 40px;
    font-weight: bold;
  }
  }