  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .custom-header {
    background-color: #fff4d3;
    border-radius: 40px;
    padding: 3px 5px;
    margin: 40px auto;
    max-width: 1300px;
    z-index: 1001;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
  }

  /* LOGO E NOME DA EMPRESA NO HEADER */
  .logo-container {
    position: absolute;
    /*posiciona um elemento de forma exata dentro do seu elemento pai*/
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 5px;
    width: 80px;
    height: 80px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  .logo-header {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .icon-logo {
    margin-left: 93px;
    color: #32391e;
    font-size: 22px;
    font-weight: bold;
    font-family: "Marcellus", sans-serif;
  }

  /* BOTAO DO HAMBURGUER NO RESPONSIVO */
  .custom-toggler {
    background: none;
    border: none;
    padding: 5px;
    margin-left: auto;
    z-index: 1002;
  }

  .custom-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  /* CLASSIFICAÇÕES DA PÁGINA DO MENU */
  nav {
    position: relative;
    /* permite mover um elemento, mas mantendo seu espaço original na página */
    display: flex;
    justify-content: center;
  }

  .nav-item {
    padding: 10px 20px;
    font-size: 18px;
  }

  .icon-text {
    color: #32391e;
    font-size: 16px;
    font-weight: bold;
    font-family: "Marcellus", sans-serif;
    padding: 8px 0;
    text-decoration: none;
    z-index: 1;
  }

  .icon-text:hover {
    color: #b38e20;
  }

  /* UNDERLINE QUE ESTA ABAIXO DAS CLASSIFICAÇÕES DO MENU */
  .underline {
    position: absolute;
    /*posiciona um elemento de forma exata dentro do seu elemento pai*/
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0;
    background: #d0a523;
    transition: all 0.3s ease;
  }

  .custom-toggler {
    background: none;
    border: none;
    padding: 5px;
    margin-left: auto;
    z-index: 1002;
  }

  .custom-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  /* BOTÃO CTA NO MENU */
  .btn-orcamento {
    padding: 10px 30px;
    background-color: #32391e;
    color: #fff4d3;
    border-radius: 30px;
    font-size: 20px;
    font-family: "Marcellus", sans-serif;
    text-decoration: none;
  }

  .btn-orcamento:hover {
    background-color: #4c5528;
    color: #f8e09a;
  }

