  * {
    box-sizing: border-box;
    /*largura e altura do elemento incluam o padding e a borda*/
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #fff4d3;
    margin: 0;
    padding: 0;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .custom-header {
    background-color: #fff4d3;
    border-radius: 40px;
    padding: 3px 5px;
    margin: 40px auto;
    max-width: 1300px;
    z-index: 1001;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
  }

  /* LOGO E NOME DA EMPRESA NO HEADER */

  .logo-container {
    position: absolute;
    /*posiciona um elemento de forma exata dentro do seu elemento pai*/
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 5px;
    width: 80px;
    height: 80px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  .logo-header {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .icon-logo {
    margin-left: 93px;
    color: #32391e;
    font-size: 22px;
    font-weight: bold;
    font-family: "Marcellus", sans-serif;
  }

  /* BOTAO DO HAMBURGUER NO RESPONSIVO */

  .custom-toggler {
    background: none;
    border: none;
    padding: 5px;
    margin-left: auto;
    z-index: 1002;
  }

  .custom-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  /* CLASSIFICAÇÕES DA PÁGINA DO MENU */

  nav {
    position: relative;
    /* permite mover um elemento, mas mantendo seu espaço original na página */
    display: flex;
    justify-content: center;
  }

  .nav-item {
    padding: 10px 20px;
    font-size: 18px;
  }

  .icon-text {
    color: #32391e;
    font-size: 16px;
    font-weight: bold;
    font-family: "Marcellus", sans-serif;
    padding: 8px 0;
    text-decoration: none;
    z-index: 1;
  }

  .icon-text:hover {
    color: #b38e20;
  }

  /* UNDERLINE QUE ESTA ABAIXO DAS CLASSIFICAÇÕES DO MENU */

  .underline {
    position: absolute;
    /*posiciona um elemento de forma exata dentro do seu elemento pai*/
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0;
    background: #d0a523;
    transition: all 0.3s ease;
  }

  .custom-toggler {
    background: none;
    border: none;
    padding: 5px;
    margin-left: auto;
    z-index: 1002;
  }

  .custom-toggler:focus {
    outline: none;
    box-shadow: none;
  }


  /* BOTÃO CTA NO MENU */

  .btn-orcamento {
    padding: 10px 30px;
    background-color: #32391e;
    color: #fff4d3;
    border-radius: 30px;
    font-size: 18px;
    font-family: "Marcellus", sans-serif;
    text-decoration: none;
  }

  .btn-orcamento:hover {
    background-color: #4c5528;
    color: #f8e09a;
  }

  /* CARROSEL DE IMAGENS e E BOTÃO CTA */

  .carousel-inner {
    height: 550px;
    /*tamanho das imagens do carrosel*/
    position: relative;
    /* permite mover um elemento, mas mantendo seu espaço original na página */
    width: 100%;
    overflow: hidden;
    /* esconde qualquer conteúdo que ultrapasse os limites do elemento.*/
    margin-bottom: 20px;
  }

  .orcamento-wrapper {
    position: absolute;
    /*posiciona um elemento de forma exata dentro do seu elemento pai*/
    bottom: 0;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    text-align: center;
  }

  .carousel-item {
    position: relative;
    /* permite mover um elemento, mas mantendo seu espaço original na página */
    height: 100%;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*imagens ou vídeos preencham totalmente o espaço do elemento, sem distorcer e mantendo o aspecto original.*/
    display: block;
  }

  .btn-orcamento-carrosel {
    padding: 10px 30px;
    background-color: #32391e;
    color: #fff4d3;
    border-radius: 30px;
    font-size: 18px;
    font-family: "Marcellus", sans-serif;
    text-decoration: none;
    margin-bottom: 35px;
  }

  .btn-orcamento-carrosel:hover {
    background-color: #4c5528;
    color: #f8e09a;
  }


  /* PARTE QUE FALA SOBRE O DONO E SOBRE A EMPRESA */

  .sobre-mim {
    display: flex;
    /*transforma um elemento em um container flexível, permitindo alinhar e distribuir os elementos filhos de forma mais fácil e responsiva.*/
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
    background-color: #fff4d3;
  }

  .sobre-mim .container {
    display: flex;
    max-width: 1310px;
    width: 100%;
    gap: 0px;

  }

  .sobre-mim .imagem {
    flex: 1;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    line-height: 0;
    border: none;
  }

  .sobre-mim .imagem img {
    display: block;
    position: relative;
    width: 80%;
    height: 610px;
    overflow: hidden;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);

  }

  .sobre-mim .conteudo {
    flex: 1;
    margin: none;
  }

  .sobre-mim h2 {
    font-size: 48px;
    font-weight: bold;
    /*negrito*/
    color: #32391e;
    margin-bottom: 15px;
    font-family: "Marcellus", sans-serif;
    margin-left: 200px;
  }

  .sobre-mim p {
    font-size: 19px;
    color: #32391e;
    line-height: 1.9;
    font-family: "Marcellus", sans-serif;
    text-align: justify;
  }

  .sobre-mim .tabs {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    font-family: "Marcellus", sans-serif;
    gap: 40px;
  }

  .sobre-mim .tab:hover {
    color: #b38e20;
  }

  .sobre-mim .tab {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    /*faz com que o cursor do mouse vire uma mãozinha quando passa por cima de um elemento.*/
    position: relative;
    color: #3a411f;
    transition: color 0.3s;
    font-weight: bold;
    /*negrito*/
    font-family: "Marcellus", sans-serif;
  }

  .tabs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 6px;
  }


  .tab.ativo {
    color: #b9982a;
  }

  .underline-sobre {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #b9982a;
    transition: all 0.3s ease;
    width: 0;
    border-radius: 2px;
  }

  /* FAIXA VERDE COM AS IMAGENS DE UM PROJETO */

  .position-relative {
    margin-top: 60px;
  }

  .green-banner {
    background-color: #32391e;
    height: 200px;
    position: relative;
  }

  .green-bar {
    background-color: #32391e;
    color: #fff4d3;
    height: 290px;
    width: 100%;
    position: relative;
    z-index: 1;
    font-family: "Marcellus", sans-serif;

    h1 {
      font-size: 50px;
      color: #fbde85;
      font-weight: bold;
      font-family: "Marcellus", sans-serif;
      margin-left: 335px;
      margin-bottom: 30px;
      padding-top: 30px;
    }

    .l {
      color: #fff4d3;
      font-family: "Marcellus", sans-serif;
      margin-left: 120px;
      overflow-wrap: break-word;
      /*quebra linhas*/
      font-size: 20px;
      line-height: 1.6;
    }

    .ll {
      color: #fff4d3;
      font-family: "Marcellus", sans-serif;
      margin-left: 144px;
      overflow-wrap: break-word;
      /*quebra linhas*/
      font-size: 20px;
      line-height: 1.6;
    }

    .lll {
      color: #fff4d3;
      font-family: "Marcellus", sans-serif;
      margin-left: 230px;
      overflow-wrap: break-word;
      /*quebra linhas*/
      font-size: 20px;
      line-height: 1.6;
    }
  }

  .image-overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
  }

  .img-block {
    width: 240px;
    height: 240px;
    object-fit: cover;
    background-color: #e5e5e5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 2;
  }

  .img-1 {
    left: 64%;
    top: -75px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
  }

  .img-2 {
    left: 58%;
    top: 100px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
  }

  .img-3 {
    left: 76%;
    top: -7px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
  }

  .img-box:hover {
    transform: scale(1.05);
  }

  /*CATEGORIAS*/
  .categorias {
    margin-top: 100px;
    font-size: 50px;
    font-family: "Marcellus", sans-serif;
    font-weight: bold;
    color: #32391e;
  }

  .slogan {
    color: #32391e;
    font-size: 20px;
    margin: none;
    font-weight: bold;
  }

  .carousel-wrapper {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    box-shadow: none;
    margin: none;
  }

  .custom-carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 40px;
    padding: 25px 25px;
    scrollbar-width: none;
    /* Firefox */
  }

  .custom-carousel::-webkit-scrollbar {
    display: none;
    /* Chrome */
  }

  .category-card {
    flex: 0 0 auto;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s;
    background-color: #32391e;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);

  }

  .Categoria-p {
    color: #fff4d3;
    font-family: "Marcellus", sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  .category-card:hover {
    transform: scale(1.06);
  }

  .category-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .custom-carousel::-webkit-scrollbar {
    display: none;
  }

  #btn-prev,
  #btn-next {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: #32391e;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
  }

  #btn-prev:hover,
  #btn-next:hover {
    background-color: #32391e;
    color: white;
  }

  /*FEEDBACK*/

  .feed {
    font-size: 40px;
    font-family: "Marcellus", sans-serif !important;
    font-weight: bold;
    color: #fbde85;
    text-align: center;
    margin-bottom: 40px;
  }

  .feedback-section {
    overflow: hidden;
    width: 100%;
    height: 410px;
    background-color: #32391e;
    padding: 2rem 0;
  }

  .line-vertical {
    margin-left: 10px;
    width: 4px;
    height: 120px;
    background-color: #32391e;
    border-radius: 2px;
  }

  .feedback-track {
    display: flex;
    width: fit-content;
    animation: scrollFeedback 30s linear infinite;
  }

  .feedback-card {
    position: relative;
    background: #fff4d3;
    display: flex;
    border-radius: 20px;
    padding: 1rem;
    margin: 0 1rem;
    height: 230px;
    width: 310px;
    text-align: center;
    flex-shrink: 0;
    /* margin-top: 30px;
    padding-bottom: 60px; */
    /* box-shadow: 0 0 3px 3px #fff1b7; */
  }

  .avatar {
    position: absolute;
    bottom: 10px;
    left: 20%;
    transform: translateX(-50%);
    width: 74px;
    height: 74px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
  }


  .feedback-text {
    font-size: 20px;
    color: #32391e;
    margin-left: px;
    z-index: 3;
    position: relative;
  }

  .nome {
    position: absolute;
    margin-bottom: 20px;
    bottom: 10px;
    left: calc(10% + 74px + 10px);
    /* 20% da esquerda + largura da foto + gap */
    font-family: "Marcellus", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #32391e;
    transform: none;
    z-index: 2;
  }

  /* Usada para criar animações personalizadas,Essa animação faz com que a div contendo os
 feedbacks vá se movendo da posição original até a metade para a esquerda,
  como se os cards estivessem "desfilando" na horizontal*/

  @keyframes scrollFeedback {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  /*LOCALIZAÇÃO*/
  #localizacao {
    font-family: "Marcellus", sans-serif;
    color: #32391e;
    text-align: center;
    margin: 80px;
    font-size: 20px;
    font-weight: bold;
  }

  .onde {
    font-family: "Marcellus", sans-serif;
    color: #32391e;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
  }

  .card {
    background: #fff4d3;
    border-radius: 20px;
    align-items: center;
    height: 80px;
    width: 410px;
    flex-shrink: 0;
    /* margin-top: 30px;
    padding-bottom: 60px; */
    /* box-shadow: 0 0 3px 3px #fff1b7; */
  }

  /*FOOTER*/
  footer {
    background-color: #32391e !important;
    font-family: "Marcellus", sans-serif !important;
    text-align: center;

    .outro {
      color: #ffce3a;
      text-transform: none !important;
      margin-top: 15px;
      font-size: 20px;
    }

    .outros {
      margin-top: 20px;
      color: #f8e09a;
    }

    .link {
      color: #f8e09a;
    }

    .link:hover {

      transition: 1s;
      color: #c29f36;
    }

    .logo-footer {
      box-shadow: 0 0 6px 3px rgb(255, 219, 129);
      width: 147px;
      height: 147px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
  }


  .loja {
    margin-top: 20px;
    color: #f8e09a;
    font-size: 14px;
  }

  .nomeloja {
    color: #ffce3a;
    text-transform: none !important;
    font-size: 25px;
    top: 10%;
  }

  .linha {
    color: #ffce3a;
  }

  .fab.fa-instagram {
    font-size: 27px;
    color: #e1306c;
    /* Cor do Instagram */
    margin-right: 15px;
    margin-bottom: 40px;
  }


  /* PARA TELAS DE TABLETS */
  @media (max-width: 1024px) {

    /*CARROSSEL DE FOTOS MENU*/
    .carousel-inner {
      margin-bottom: 25px;
    }

    .position-relative {
      margin-top: 70px;
    }

    /*FAIXA VERDE DO PROCESSOS*/
    .green-banner {
      height: 200px;
      position: relative;
    }

    .green-bar {
      height: 250px;
      width: 100%;


      h1 {
        margin-left: 300px;
        margin-bottom: 15px;
        padding-top: 15px;
      }

      .l {
        margin-left: 60px;
        overflow-wrap: break-word;
        font-size: 20px;
      }

      .ll {
        margin-left: 85px;
        overflow-wrap: break-word;
        font-size: 20px;
      }

      .lll {
        margin-left: 200px;
        overflow-wrap: break-word;
        font-size: 20px;
      }
    }

    .image-overlays {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .img-block {
      width: 150px;
      height: 150px;

    }

    .img-1 {
      left: 75%;
      top: -60px;
    }

    .img-2 {
      left: 70%;
      top: 160px;
    }

    .img-3 {
      left: 83%;
      top: 60px;
    }

    /*SOBRE NÓS*/
    .sobre-mim .tabs {
      gap: 46px;
    }

    .sobre-mim .tab {
      white-space: normal;
      /* permite a quebra de linha */
      font-size: 20px;
      line-height: 1.2;
      margin-left: 0;
    }

    .sobre-mim .tab span {
      display: block;
      /* quebra manual usando <span> */
    }

    .sobre-mim h2 {
      margin-left: 90px;
    }

    .sobre-mim .imagem img {
      height: 650px;
      width: 100%;
    }

    .category-card {
      width: 250px;
    }

    .category-img {
      height: 180px;
    }

    .carousel-wrapper {
      height: 270px;
    }
  }


  /* PARA TELAS DE CELULARES */
  @media (max-width: 480px) {

    /*CARROSEL DO MENU*/
    .carousel-inner {
      height: 400px;
      margin-bottom: 5px;
    }

    .position-relative {
      margin-top: 20px;
    }

    .btn-orcamento-carrosel {
      border-radius: 50px;
    }

    /*PARTE VERDE DO PROCESSOS*/
    .green-bar {
      height: 300px;
      width: 100%;


      h1 {
        margin-left: 90px;
        margin-bottom: 5px;
        padding-top: 5px;
      }

      .l {
        margin-left: 38px;
        overflow-wrap: break-word;
        font-size: 18px;
      }

      .ll {
        margin-left: 38px;
        overflow-wrap: break-word;
        font-size: 18px;
      }

      .lll {
        margin-left: 38px;
        overflow-wrap: break-word;
        font-size: 18px;
      }
    }

    .img-block {
      width: 110px;
      height: 110px;
    }

    .img-1 {
      left: 37%;
      top: 260px;
    }

    .img-2 {
      left: 67%;
      top: 260px;
    }

    .img-3 {
      left: 7%;
      top: 260px;
    }

    /*SOBRE NÓS*/
    .sobre-mim .container {
      flex-direction: column;
    }

    .sobre-mim .imagem {
      order: 2;
      
    }

    .sobre-mim .conteudo {
      order: 1;
    }
    .sobre-mim .conteudo {
      padding-top: 20px;
    }

    .sobre-mim h2 {
      font-size: 36px;
      margin-left: 70px;
    }

    .sobre-mim .tabs {
      gap: 42px;
    }

     .sobre-mim p {
    text-align:left;
  }

    .sobre-mim .tab {
      white-space: normal;
      /* permite a quebra de linha */
      font-size: 14px;
      line-height: 1.2;
      margin-left: 0;
    }

    .sobre-mim .tab span {
      display: block;
      /* quebra manual usando <span> */
    }

    .sobre-mim .imagem img {
      height: 350px;
      width: 100%;
      margin-left: 20px;
      margin-top: 20px;
    }

    .carousel-item-box {
      width: 140px;
    }

    .img-box {
      height: 140px;
    }

    .category-card {
      width: 200px;
    }

    .category-img {
      height: 200px;
    }

    .categorias {
      margin-top: 140px;
    }

    .carousel-wrapper {
      height: 270px;
    }

    .feedback-section {
      height: 380px;
    }

    .feed {
      font-size: 25px;
    }

    .feedback-card {
      height: 230px;
      width: 270px;
    }

    .avatar {
      width: 75px;
      height: 75px;
    }

      #localizacao {
    font-size: 15px;
    font-weight: bold;
  }

  .onde {
    font-size: 40px;
    font-weight: bold;
  }
  }