* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff4d3;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.custom-header {
  background-color: #fff4d3;
  border-radius: 40px;
  padding: 3px 5px;
  margin: 40px auto;
  max-width: 1300px;
  z-index: 1001;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
}

/* LOGO E NOME DA EMPRESA NO HEADER */

.logo-container {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 5px;
  width: 80px;
  height: 80px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.logo-header {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.icon-logo {
  margin-left: 93px;
  color: #243511;
  font-size: 22px;
  font-weight: bold;
  font-family: "Marcellus", sans-serif;
}

/* BOTAO DO HAMBURGUER NO RESPONSIVO */

.custom-toggler {
  background: none;
  border: none;
  padding: 5px;
  margin-left: auto;
  z-index: 1002;
}

.custom-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* CLASSIFICAÇÕES DA PÁGINA DO MENU */

nav {
  position: relative;
  display: flex;
  justify-content: center;
}

.nav-item {
  padding: 10px 20px;
  font-size: 18px;
}

.icon-text {
  color: #243511;
  font-size: 16px;
  font-weight: bold;
  font-family: "Marcellus", sans-serif;
  padding: 8px 0;
  text-decoration: none;
  z-index: 1;
}

.icon-text:hover {
  color: #39531b;
}

/* UNDERLINE QUE ESTA ABAIXO DAS CLASSIFICAÇÕES DO MENU */

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #39531b;
  transition: all 0.3s ease;
}


.custom-toggler {
  background: none;
  border: none;
  padding: 5px;
  margin-left: auto;
  z-index: 1002;
}

.custom-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* BOTÃO CTA NO MENU */

.btn-orcamento {
  padding: 10px 30px;
  background-color: #334321;
  color: #fff4d3;
  border-radius: 30px;
  font-size: 18px;
  font-family: "Marcellus", sans-serif;
  text-decoration: none;
}

.btn-orcamento:hover {
  background-color: #466728;
  color: #f8e09a;
}

 /* CARROSEL DE IMAGENS e E BOTÃO CTA */

.carousel-inner {
  height: 550px;
  /*tamanho das imagens do carrosel*/
  position: relative;
  width: 100%;
  overflow: hidden;
}

.orcamento-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-align: center;
}

.carousel-item {
  position: relative;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.btn-orcamento-carrosel {
  padding: 10px 30px;
  background-color: #334321;
  color: #fff4d3;
  border-radius: 30px;
  font-size: 18px;
  font-family: "Marcellus", sans-serif;
  text-decoration: none;
  margin-bottom: 35px;
}

.btn-orcamento-carrosel:hover {
  background-color: #466728;
  color: #f8e09a;
}


/* FAIXA VERDE COM AS IMAGENS DE UM PROJETO */

.position-relative {
  margin-top: 120px;
}

.green-banner {
  background-color: #334321;
  height: 200px;
  position: relative;
}

.green-bar {
  background-color: #334321;
  color: #fff4d3;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-family: "Marcellus", sans-serif;

  h1 {
    color: #fff4d3;
    font-weight: bold;
    font-family: "Marcellus", sans-serif;
    margin-left: 375px;
    margin-bottom: 10px;
   padding-top: 30px;
  }

  .l {
    color: #fff4d3;
    font-family: "Marcellus", sans-serif;
    margin-left: 160px;
    overflow-wrap: break-word;
    font-size: 20px;
  }

  .ll {
    color: #fff4d3;
    font-family: "Marcellus", sans-serif;
    margin-left: 184px;
    overflow-wrap: break-word;
    font-size: 20px;
  }

  .lll {
    color: #fff4d3;
    font-family: "Marcellus", sans-serif;
    margin-left: 270px;
    overflow-wrap: break-word;
    font-size: 20px;
  }
}

.image-overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.img-block {
  width: 200px;
  height: 200px;
  object-fit: cover;
  background-color: #e5e5e5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 2;
}

.img-1 {
  left: 64%;
  top: -60px;
}

.img-2 {
  left: 58%;
  top: 70px;
}

.img-3 {
  left: 76%;
  top: -15px;
}

/* PARA TELAS DE TABLETS */
@media (max-width: 1024px) {

 .position-relative {
  margin-top: 120px;
}

.green-banner {
  height: 200px;
  position: relative;
}

.green-bar {
  height: 250px;
  width: 100%;
 

  h1 {
    margin-left: 330px;
    margin-bottom: 10px;
  }

  .l {
    margin-left: 60px;
    overflow-wrap: break-word;
    font-size: 20px;
  }

  .ll {
    margin-left: 85px;
    overflow-wrap: break-word;
    font-size: 20px;
  }

  .lll {
    margin-left: 200px;
    overflow-wrap: break-word;
    font-size: 20px;
  }
}

.image-overlays {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.img-block {
  width: 150px;
  height: 150px;

}

.img-1 {
  left: 75%;
  top: -60px;
}

.img-2 {
  left: 70%;
  top: 160px;
}

.img-3 {
  left: 83%;
  top: 60px;
}

}
/* PARA TELAS DE CELULARES */
@media (max-width: 480px) {

  .carousel-inner {
  height: 400px;
  }

 .position-relative {
  margin-top: 120px;
}

.green-bar {
  height: 300px;
  width: 100%;


  h1 {
    margin-left: 140px;
    margin-bottom: 10px;
  }

  .l {
    margin-left: 38px;
    overflow-wrap: break-word;
    font-size: 18px;
  }

  .ll {
    margin-left: 38px;
    overflow-wrap: break-word;
    font-size: 18px;
  }

  .lll {
    margin-left: 38px;
    overflow-wrap: break-word;
    font-size: 18px;
  }
}

.img-block {
  width: 110px;
  height: 110px;
}

.img-1 {
  left: 37%;
  top: 260px;
}

.img-2 {
  left: 67%;
  top: 260px;
}

.img-3 {
  left: 7%;
  top: 260px;
}

}